*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
:root{
    --purple:#5A1E76;
    --controler:#2B0040;
    --aqua:aqua;
    --yellowish:#DCBF3F;
    --h1-size:180px;
}
body{
    background-color: var(--purple);
    height: 100vh;
    display: block;
    position: relative;
}

.headings{
    font-size: var(--h1-size);
    line-height: 150px;
    font-weight: 500;
    bottom:0;
    left: -35px;
    position: fixed;
    z-index: -1;
    animation: headings-animation 2s 2 ease;
}
@keyframes headings-animation {
    0%{
        transform:translateY(0);  
    }
    50%{
        transform:translateY(-100%);     
    }
    100%{
        transform:translateY(0); 
    }
}

.tic{
     color: var(--yellowish);
}
.tac{
    color: var(--aqua);
}
.toe{
    color: var(--yellowish);
}
.game{
    background-color: var(--controler);
    width: 100%;
    max-width:400px;
    border-radius: 20px;
    padding:55px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.play-buttons {
    display: flex;
    flex-wrap: wrap;
}
.box{
   flex:0 0 calc(33.333% - 20px);
   margin:10px;
   height: 70px;
   border-radius:6px;
   border: none;
   background-color: var(--purple);
   font-size: 35px;
   color: white;
   font-weight: 600;
}
.hide{
    visibility: hidden;
}
.controls{
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
    justify-content:space-between;
    padding:0 30px;
}

button.reset-btn {
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
    border-radius: 7px;
    border: none;
    align-self: center;
    font-weight: 600;
    background-color: var(--aqua);
}
.new-btn{
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
    border-radius: 7px;
    border: none;
    align-self: center;
    font-weight: 600;
    background-color: var(--yellowish);
}
.winner{
    background-color: grey;
    padding:10px;
    justify-self: center;
    width:50%;
    margin:30px auto;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.winstracker{
    display: flex;
    flex-wrap: wrap;
    color:black;
    justify-content: space-between;
}

.player0 ,.playerx,.draws{
    flex: 0 0 calc(33.333% - 10px);
    text-align: center;
    padding: 10px;
    line-height: 25px;
    border-radius: 6px;
}
.player0{
    background-color: var(--aqua);
}
.draws{
    background-color: rgb(185, 180, 180);
}
.playerx{
    background-color: var(--yellowish);
}
.player{
    font-size:12px;
    font-weight: 500;
}
.turntracker{
    color: white;
    text-align: center;
    font-size: 22px;
    margin:20px 0;
}

@media screen and (max-width:1023px) {
    .game {
        max-width: 360px;
        padding: 40px 50px;
    }
    
    button.box {
        height: 60px;
    }
    
    .player0 ,.playerx,.draws{
        line-height: 20px;
    }
    
    h3.count-player0,h3.count-draw,h3.count-playerX {
        font-size: 15px;
    }
    .headings {
        font-size: 150px;
        line-height: 130px;
    }
}

@media screen and (max-width:767px) {
    .game {
        max-width: 335px;
        padding: 40px 35px;
    }
    .headings {
        font-size: 130px;
        line-height: 112px;
    }
}
@media screen and (max-width:425px) {
    .game {
        max-width: 300px;
        padding: 45px 40px;
    }
    p.player {
        font-size: 8px;
    }
    button.box {
        border-radius: 6px;
        flex: 0 0 calc(33.333% - 15px);
        height: 55px;
        margin: 10px 7.5px;
    }
p.player {
    font-size: 8px;
}

.controls button {
    font-size: 10px;
}
.headings {
    font-size: 100px;
    line-height: 90px;
    left: -12px;
}
    
}
